* {
    box-sizing: border-box;
}
.transparent {
    width: 1200px;
    height: auto;
    position: relative;
    padding: 60px 50px;
    margin: 50px auto 0;
    background-image: url("plane.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-attachment: fixed;
    background-position: center;
}
.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(104, 22, 96, .5));
}
.form-inner {
    position: relative;
}
.form-inner h1 {
    position: relative;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
}
.form-inner h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: #1762EE;
}
.form-inner label {
    display: block;
    padding-left: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 14px;
}
.form-inner input {
    display: block;
    width: 300px;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    background: #1762EE;
    width: 100%;
    display: block;
    padding-left: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.form-inner select {
    display: block;
    width: 300px;
    margin-left: 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
    font-family: 'Roboto', sans-serif;
}

.form-inner h2 {
    position: relative;
    margin-top: 75px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

.phone {
    -moz-appearance: textfield;
}

.phone::-webkit-inner-spin-button {
    display: none;
}

b {
    color: red;
}

textarea {
    display: block;
    width: 300px;
    margin-left: 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
    font-family: 'Roboto', sans-serif;
}